body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}
<<<<<<< HEAD
.form {
    display: flex;
    flex-direction: row;
  }
  
 
  
 
=======

.mapform-group {
    margin: left;
    width: 300px;
    height: 60px;
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .mapForm {
    display: flex;
    flex-direction: left;
  }
>>>>>>> 94caf209ba374257cc85ee60ec2cd409fbfed49c
